{% extends "index.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
	<script type="text/javascript" src="{% static "js/libs/FileSaver/FileSaver.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/libs/js-xlsx/xlsx.core.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/tableExport.min.js" %}"></script>
    <div class="container-fluid">
        <div class="table-responsive">
            <table id="tab" class="table table-hover table-condensed">
                <thead>
                <th>#</th>
                <th>Водитель</th>
                <th>Дата</th>
                <th>Номер машины</th>
                <th>Тип дохода</th>
                <th>Поставщик</th>
                <th>Клиент</th>
                <th>Место разгрузки</th>
                <th>Товар</th>
                <th>Начало трека</th>
                <th>Конец трека</th>
                <th>Загружено</th>
                <th>Выгружено</th>
                <th>Цена рейса</th>
                <th>Состояние</th>
                </thead>
                <tbody>
                {% for q in q_resp %}
                    <tr>
                        <td>
	                        {{ forloop.counter }}
                        </td>
                        <td>
                            {{ q.driver }}
                        </td>
                        <td>
                            {{ q.race_date }}
                        </td>
                        <td>
                            {{ q.car }}
                        </td>
                        <td>
                            {{ q.type_ship }}
                        </td>
                        <td>
                            {{ q.supplier }}
                        </td>
                        <td>
                            {{ q.customer }}
                        </td>
                        <td>
                            {{ q.shipment|default_if_none:'Не назначено' }}
                        </td>
                        <td>
                            {{ q.product }}
                        </td>
                        <td>
                            {{ q.s_milage }}
                        </td>
                        <td>
                            {{ q.e_milage }}
                        </td>
                        <td>
                            {{ q.weight_load }}{{ q.unit_load.short_name }}
                        </td>
                        <td>
                            {{ q.weight_unload }}{{ q.unit_unload.short_name }}
                        </td>
                        <td>
                            {{ q.price }}
                        </td>
                        <td>
                            {{ q.state }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
	        <button name="excel" class="button btn-sm" onclick="$('#tab').tableExport({type: 'excel'});">
		        В Excel
	        </button>
        </div>
    </div>
{% endblock %}
