{% extends "index.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
    <div class="container-fluid">
        <div class="table-responsive">
            <table id="tab" class="table table-hover table-condensed">
                <thead>
                <th>#</th>
                <th>Дата</th>
                <th>Номер машины</th>
                <th>Водитель</th>
                <th>Реализация</th>
                <th>Поставщик</th>
                <th>Клиент</th>
                <th>Место разгрузки</th>
                <th>Товар</th>
                <th>Начало трека</th>
                <th>Конец трека</th>
                <th>Загружено</th>
                <th>Выгружено</th>
                <th>Топливо на начало</th>
                <th>На конец</th>
                <th>Выдано</th>
                <th>Потрачено</th>
                <th>Состояние</th>
                </thead>
                <tbody>
                {% for q in q_resp %}
                    <tr>
	                    <td>
		                    {{ forloop.counter }}
	                    </td>
                        <td>
                            {{ q.race_date }}
                        </td>
                        <td>
                            {{ q.car }}
                        </td>
                        <td>
                            {{ q.driver }}
                        </td>
                        <td>
                            {{ q.type_ship }}
                        </td>
                        <td>
                            {{ q.supplier }}
                        </td>
                        <td>
                            {{ q.customer }}
                        </td>
                        <td>
                            {{ q.shipment|default_if_none:'Не назначено' }}
                        </td>
                        <td>
                            {{ q.product }}
                        </td>
                        <td>
                            {{ q.s_milage }}
                        </td>
                        <td>
                            {{ q.e_milage }}
                        </td>
                        <td>
                            {{ q.weight_load }}
                        </td>
                        <td>
                            {{ q.weight_unload }}
                        </td>
                        <td>
                            {{ q.gas_start }}
                        </td>
                        <td>
                            {{ q.gas_end }}
                        </td>
                        <td>
                            {{ q.gas_given }}
                        </td>
                        <td>
                            {{ q.gas_spent }}
                        </td>
                        <td>
                            {{ q.state }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
	        <button name="excel" class="button btn-sm" onclick="$('#tab').tableExport({type: 'excel'});">
		        В Excel
	        </button>
        </div>
    </div>
{% endblock %}
