{% extends "index.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" href="{% static "css/daterangepicker.css" %}">
    <link rel="stylesheet" href="{% static "css/chosen.min.css" %}">
    <link rel="stylesheet" href="{% static "css/chosenIcon.css" %}">
    <script type="text/javascript" src="{% static "js/daterangepicker.js" %}"></script>
    <script type="text/javascript" src="{% static "js/chosen.jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/chosen.jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/chosenIcon.jquery.js" %}"></script>
    <script type="text/javascript">
    $(function () {
            $('select[name="driver"]').chosen({
                placeholder_text_single: 'Выберите водителя',

            });
            $(".icon-select").chosenIcon({});
			$("#allDriversCheck").on('click', function(e) {
				if ($("#allDriversCheck").is(':checked')) {
					$('select[name="driver"]').prop('disabled', true).trigger("chosen:updated");
				} else {
					$('select[name="driver"]').prop('disabled', false).trigger("chosen:updated");
				}
				
			});
			$(".btn-cancel").on('click', function(e) {
				window.location.href = '/Race/';
				return false;
			});
        });
    </script>
    <div class="container">
      <div class="col-lg-3">
            <form action="" method="post">
                {% csrf_token %}
	            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input name="daterange" type="text" class="form-control"/>
                </div>
	            </div>
              <div class="form-group">
                <select name="driver" class="form-control icon-select">
                    {% for field in qset %}
                        <option data-icon="fa-user-circle" value="{{ field.name }}">{{ field.name }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="form-group">
				<div class="checkbox">
					<label class="form-check-label" for="allDriversCheck">
						<input type="checkbox" name="all_drivers" class="form-check-input checkbox" id="allDriversCheck">
						По всем водителям
					</label>
				</div>
              </div>
                {% buttons %}
                    <button class="btn btn-sm btn-success"> {% bootstrap_icon "star" %}Сформировать</button>
                    <button class="btn btn-sm btn-cancel"> {% bootstrap_icon "cancel" %}Отмена</button>
                {% endbuttons %}
            </form>
      </div>
        </div>
    </div>
{% endblock %}
