{% extends "index.html" %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static "css/daterangepicker.css" %}">
<link rel="stylesheet" href="{% static "css/chosen.min.css" %}">
<script type="text/javascript" src="{% static "js/daterangepicker.js" %}"></script>
<script type="text/javascript" src="{% static "js/chosen.jquery.min.js" %}"></script>
<script type="text/javascript">
$(function () {
    $('input[name="daterange"]').daterangepicker({
        "autoApply": true,
        "alwaysShowCalendars": false,
        ranges:{
           'Этот месяц': [moment().startOf('month'), moment().endOf('month')],
           'Прошлый месяц': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        locale: {
        "fromLabel": "C",
        "toLabel": "По",
       "monthNames": [
            "Январь",
            "Февраль",
            "Март",
            "Апрель",
            "Май",
            "Июнь",
            "Июль",
            "Август",
            "Сентябрь",
            "Октябрь",
            "Ноябрь",
            "Декабрь"
        ],
      customRangeLabel: 'Свой диапазон',
      format: 'YYYY-MM-DD',
      "firstDay": 1,
      "weekLabel": "Неделя",
        "daysOfWeek": [
            "Вс",
            "Пн",
            "Вт",
            "Ср",
            "Чт",
            "Пт",
            "Сб"
        ]

    }
    });
    $('select[multiple]').chosen({
        placeholder_text_multiple:'Выберите фракцию',
        width: "25%"
    });
    $('select[name="customer"]').chosen({
        placeholder_text_single: 'Выберите организацию',

    });
});
</script>
<div class="container-fluid">
  <form action="" method="post">
	        {% csrf_token %}
          <input name="daterange" type="text"/>
	      <select name="customer">
						 {% for field in qset %}
							 <option value="{{ field.id_customer }}">{{ field.name }}</option>
						 {% endfor %}
	      </select>
          <select multiple name="product">
	        {% for field in q_prod %}
		          <option value="{{ field.name }}">{{ field.name }}</option>
	        {% endfor %}
          </select>
	        {% buttons %}
              <button class="btn btn-success"> {% bootstrap_icon "star" %}Сформировать</button>
	        {% endbuttons %}
  </form>
</div>
{% endblock %}
