{% extends "index.html" %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static "css/jquery.multiselect.css" %}">
<link rel="stylesheet" href="{% static "css/daterangepicker.css" %}">
<script type="text/javascript" src="{% static "js/jquery.multiselect.js" %}"></script>
<script type="text/javascript" src="{% static "js/daterangepicker.js" %}"></script>
<script type="text/javascript">
$(function () {
    $('input[name="daterange"]').daterangepicker();
    $('select[multiple]').multiselect({
		    texts: { placeholder: 'Выберите фракцию'},
    });
});
</script>
<div class="container-fluid">
		<div class="row">
        <p action="" method="post">
	        {% csrf_token %}
        <div class="col-sm-4">
          <input name="daterange" type="text"/>
        </div>
        <div class="col-sm-2">
	        <select name="customer">
						 {% for field in qset %}
							 <option value="{{ field.id_customer }}">{{ field.name }}</option>
						 {% endfor %}
	        </select>
        </div>
        <div class="col-sm-3">
          <select multiple name="product">
	        {% for field in q_prod %}
		          <option value="{{ field.name }}">{{ field.name }}</option>
	        {% endfor %}
          </select>
        </div>
	        {% buttons %}
              <button class="btn btn-success"> {% bootstrap_icon "star" %}Сформировать</button>
	        {% endbuttons %}
        </div>
				</form>

		</div>
 </div>
{% endblock %}
