{% extends "index.html" %}
{% load bootstrap3 %}
{% block content %}
 <div class="container table-responsive">

 <form action="" method="post">
    {% csrf_token %}
 <label>С:</label>
 <input name="from" type="date"/>
 <label>По:</label>
 <input name="to" type="date"/><br>
 {% for field in qset %}
	 <input name="radio" type="radio" value="{{ field.number }}">{{  field.number }}<br>
 {% endfor %}
	  {% buttons %}
        <button class="btn btn-success"> {% bootstrap_icon "star" %}Сформировать</button>
	  {% endbuttons %}
</form>
 </div>
{% endblock %}
