{% extends "index.html" %}
{% load bootstrap3 %}
{% block content %}
 <div class="container table-responsive">

 <form action="" method="post">
    {% csrf_token %}
 <label>С:</label>
 <input name="from" type="date"/>
 <label>По:</label>
 <input name="to" type="date"/><br>
 <label>Клиент</label>
	 <select name="customer">
		 {% for field in qset %}
			 <option value="{{ field.id_customer }}">{{ field.name }}</option>
		 {% endfor %}
	 </select>
 <p>
	 <label>Фракция</label>
   <select multiple name="product" class="selector-chooseall">
	   {% for field in q_prod %}
		   <option value="{{ field.name }}">{{ field.name }}</option>
	   {% endfor %}
   </select>
	  {% buttons %}
        <button class="btn btn-success"> {% bootstrap_icon "star" %}Сформировать</button>
	  {% endbuttons %}
</form>
 </div>
{% endblock %}
