{% extends "index.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}
    <div class="container table-responsive">
        {% include 'messages.html' %}
        <form id="id_race_form" action="{% url 'RaceCreate' %}" method="post"
              data-form-customer-url="{% url 'RaceAjaxCus' %}"
              data-form-supplier-url="{% url 'RaceAjaxSup' %}">
            {% csrf_token %}
            {% for field in form %}
                {% bootstrap_field field %}
            {% endfor %}
            {% buttons %}
                <button class="btn btn-success"> {% bootstrap_icon "star" %} Добавить</button>
            {% endbuttons %}
        </form>
    </div>
    <script type="text/javascript">
        $(function () {
            $('input[name="arrival_time"]').daterangepicker({
                "singleDatePicker": true,
                "autoApply": true,
                "timePicker": true,
                "timePicker24Hour": true,
                "startDate": new Date(),
                "endDate" : new Date(),
                locale: {
                    "monthNames": [
                        "Январь",
                        "Февраль",
                        "Март",
                        "Апрель",
                        "Май",
                        "Июнь",
                        "Июль",
                        "Август",
                        "Сентябрь",
                        "Октябрь",
                        "Ноябрь",
                        "Декабрь"
                    ],
                    format: 'YYYY-MM-DD H:mm',
                    "firstDay": 1,
                    "weekLabel": "Неделя",
                    "daysOfWeek": [
                        "Вс",
                        "Пн",
                        "Вт",
                        "Ср",
                        "Чт",
                        "Пт",
                        "Сб"
                    ]

                }
            });
            $('input[name="race_date"]').daterangepicker({
                "singleDatePicker": true,
                "autoApply": true,
                "timePicker": true,
                "timePicker24Hour": true,
                "startDate": new Date(),
                "endDate" : new Date(),
                locale: {
                    "monthNames": [
                        "Январь",
                        "Февраль",
                        "Март",
                        "Апрель",
                        "Май",
                        "Июнь",
                        "Июль",
                        "Август",
                        "Сентябрь",
                        "Октябрь",
                        "Ноябрь",
                        "Декабрь"
                    ],
                    format: 'YYYY-MM-DD H:mm',
                    "firstDay": 1,
                    "weekLabel": "Неделя",
                    "daysOfWeek": [
                        "Вс",
                        "Пн",
                        "Вт",
                        "Ср",
                        "Чт",
                        "Пт",
                        "Сб"
                    ]

                }
            });
            var id_car = document.getElementById('id_car');
            var id_supplier = document.getElementById('id_supplier');
            id_car.addEventListener("change", function () {
                var data = id_supplier.value;
                $.ajax(
                    {
                        type: "GET",
                        url: "{% url 'RaceAjaxTrack' %}",
                        data: {id: data},
                        dataType: 'json',
                        success: function (resp) {
                            document.getElementById('id_gas_start').value = resp.gas_start;
                            document.getElementById('id_s_milage').value = resp.s_milage;
                        }
                    })
            });
        })
    </script>
{% endblock %}
