{% extends "index.html" %}
{% load bootstrap3 %}
{% block content %}
    {% if messages %}
        <ul class="messagelist">
            {% for msg in messages %}
                <li class="alert alert-{{ msg.level_tag }}" role="alert">
                    {{ msg.message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
 <div class="container table-responsive">

 <form action="" method="post">
    {% csrf_token %}
 {% for field in form %}
	 {% bootstrap_field field %}
 {% endfor %}
	  {% buttons %}
        <button class="btn btn-success"> {% bootstrap_icon "star" %} Обновить</button>
	  {% endbuttons %}
</form>
 </div>
{% endblock %}
