{% extends "index4.html" %}
{% load bootstrap4 %}
{% load icons %}
{% load staticfiles %}
{% block content %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Новый рейс</h1>
	</div>
    <div class="container table-responsive">
        {% include 'messages.html' %}
			<div class="well">
        <form id="id_race_form" action="{% url 'RaceCreate' %}" method="post"
              data-form-customer-url="{% url 'RaceAjaxCus' %}"
              data-form-supplier-url="{% url 'RaceAjaxSup' %}">
            {% csrf_token %}
            {% for field in form %}
                {% bootstrap_field field %}
            {% endfor %}
            {% buttons %}
                <button class="btn btn-success">{% icon "star" %}&nbsp;Добавить</button>
		            <button type="button" id="reserv_add_race" onclick="reserv()" class="btn btn-outline-secondary">Сохранить</button>
		            <button type="button" id="reestablish_add_race" onclick="reestablish()" class="btn btn-outline-secondary">Восстановить</button>
					<button href="{{ request.path_info }}" class="btn btn-outline-secondary">Отмена</button>
            {% endbuttons %}
        </form>
			</div>
    </div>
{% endblock %}
