{% extends "index.html" %}
{% load bootstrap3 %}
{% block content %}
    <div class="container table-responsive">

        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                {% bootstrap_field field %}
            {% endfor %}
            {% buttons %}
                <button class="btn btn-success"> {% bootstrap_icon "star" %} Обновить</button>
            {% endbuttons %}
        </form>
    </div>
	<script type="text/javascript">
    $(function () {
        $('input[name="arrival_time"]').daterangepicker({
            "singleDatePicker": true,
            "autoApply": true,
            "timePicker": true,
            "timePicker24Hour": true,
            locale: {
                "monthNames": [
                    "Январь",
                    "Февраль",
                    "Март",
                    "Апрель",
                    "Май",
                    "Июнь",
                    "Июль",
                    "Август",
                    "Сентябрь",
                    "Октябрь",
                    "Ноябрь",
                    "Декабрь"
                ],
                format: 'DD.MM.YYYY H:mm:ss',
                "firstDay": 1,
                "weekLabel": "Неделя",
                "daysOfWeek": [
                    "Вс",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Сб"
                ]

            }
        });
        $('input[name="race_date"]').daterangepicker({
            "singleDatePicker": true,
            "autoApply": true,
            "timePicker": true,
            "timePicker24Hour": true,
            locale: {
                "monthNames": [
                    "Январь",
                    "Февраль",
                    "Март",
                    "Апрель",
                    "Май",
                    "Июнь",
                    "Июль",
                    "Август",
                    "Сентябрь",
                    "Октябрь",
                    "Ноябрь",
                    "Декабрь"
                ],
                format: 'DD.MM.YYYY H:mm:ss',
                "firstDay": 1,
                "weekLabel": "Неделя",
                "daysOfWeek": [
                    "Вс",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Сб"
                ]

            }
        });
        var id_supplier = document.getElementById('id_supplier');
        var id_customer = document.getElementById('id_customer');
        var select_load = document.getElementById('id_place_load');
        var select_unload = document.getElementById('id_shipment');
        var sup = id_supplier.value;
        var cus  = id_customer.value;
        $.ajax(
            {
                type: "GET",
                url: "{% url 'RaceAjaxSup' %}",
                data: {id: sup},
                dataType: 'json',
                success: function (resp) {
                    while (select_load.length > 1) {
                        select_load.remove(select_load.length - 1)
                    }
                    for (i = 0; i < resp.length; i++) {
                        var option = document.createElement('option');
                        option.text = resp[i].address;
                        option.value = resp[i].id_load_place;
                        select_load.add(option)
                    }
                }
            });
        $.ajax(
            {
                type: "GET",
                url: "{% url 'RaceAjaxCus' %}",
                data: {id: cus},
                dataType: 'json',
                success: function (resp) {
                    while (select_unload.length > 1) {
                        select_unload.remove(select_unload.length - 1)
                    }
                    for (i = 0; i < resp.length; i++) {
                        var option = document.createElement('option');
                        option.text = resp[i].name;
                        option.value = resp[i].id_shipment;
                        select_unload.add(option)
                    }
                }
            });
        id_supplier.addEventListener("change", function () {
            var data = id_supplier.value;
            $.ajax(
                {
                    type: "GET",
                    url: "{% url 'RaceAjaxSup' %}",
                    data: {id: data},
                    dataType: 'json',
                    success: function (resp) {
                        while (select_load.length > 1) {
                            select_load.remove(select_load.length - 1)
                        }
                        for (i = 0; i < resp.length; i++) {
                            var option = document.createElement('option');
                            option.text = resp[i].address;
                            option.value = resp[i].id_load_place;
                            select_load.add(option)
                        }
                    }
                })
        });
        id_customer.addEventListener("change", function () {
            var cus = id_customer.value;
            $.ajax(
                {
                    type: "GET",
                    url: "{% url 'RaceAjaxCus' %}",
                    data: {id: cus},
                    dataType: 'json',
                    success: function (resp) {
                        while (select_unload.length > 1) {
                            select_unload.remove(select_unload.length - 1)
                        }
                        for (i = 0; i < resp.length; i++) {
                            var option = document.createElement('option');
                            option.text = resp[i].name;
                            option.value = resp[i].id_shipment;
                            select_unload.add(option)
                        }
                    }
                })
        });
		    });
    </script>
{% endblock %}
