{% extends "index.html" %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static "css/daterangepicker.css" %}">
    <link rel="stylesheet" href="{% static "css/chosen.min.css" %}">
    <link rel="stylesheet" href="{% static "css/chosenIcon.css" %}">
    <script type="text/javascript" src="{% static "js/daterangepicker.js" %}"></script>
    <script type="text/javascript" src="{% static "js/chosen.jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/chosenIcon.jquery.js" %}"></script>
    <script type="text/javascript">
    $(function () {
            $('select[name="car"]').chosen({
                placeholder_text_single: 'Выберите машину',
            });
            $(".icon-select").chosenIcon({});
        });
    </script>
    <div class="container">
      <div class="col-lg-3">
        <div class="form-group">
                <form action="" method="post">
                    {% csrf_token %}
	                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input name="daterange" type="text" class="form-control"/>
                    </div>
	                </div>
                  <div class="form-group">
                    <select name="car" class="icon-select form-control">
                        {% for field in qset %}
                            <option data-icon="fa-truck" value="{{ field.number }}">{{ field.number }}</option>
                        {% endfor %}
                    </select>
                  </div>
                    {% buttons %}
                        <button class="btn btn-sm btn-success"> {% bootstrap_icon "star" %}Сформировать</button>
                    {% endbuttons %}
                    {% if urls %}
                        <div class="list-group">
                        {% for url in urls %}
                            <a href="{% static url %}" class="list-group-item">Путевой лист {{ forloop.counter }}</a>
                        {% endfor %}
                        </div>
                    {% endif %}
                </form>
        </div>
            </div>
        </div>
    </div>
{% endblock %}
