{% extends "index.html" %}
{% load static %}
{% block login %}
<section id="loginform" class="outer-wrapper">
<div class="inner-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 form-group">
            <form method="post" action="">
                {% csrf_token %}
                    <table>
                        <img src="{% static 'img/scania.jpg' %}">
                        {% if form.errors %}
                            <p class="text-center">Вы ввели неправильный логин или пароль.Попробуйте снова.</p>
                        {% endif %}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    {{ form.username }}
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        {{ form.password }}
                                </div>
                    </table>
                <button type="submit" class="btn button-default button-slanted form-control">
                    <span class="button-slanted-content" >Вход</span></button>
                <input type="hidden" name="next" value="{{ next }}" class="form-control"/>
            </form>
            </div>
        </div>
    </div>
</div>
</section>
<style type="text/css">
  html, body { height:100%; }
  img {
     display: block;
     margin-left:auto;
     margin-right: auto;
     width: 80%;
     max-width: 100%;
     height: auto;
  }
  input[type=text], input[type=password]{
      width:50%;
  }
  .outer-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}
  .inner-wrapper {
  display:table-cell;
  vertical-align:middle;
  padding:15px;
}
.button-default {
  color: white;
  background-color: teal;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 10px;
  top: 10px;
  margin-top: 10px;
  display: inline-block;
}

.button-slanted {
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.button-slanted-content {
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
  display: inline-block;
}

.button-fixedwidth {
  width: 100px;
}
</style>
{% endblock %}
