{% extends "index.html" %}
{% load static %}
{% block login %}
<section id="loginform" class="outer-wrapper">
<div class="inner-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
            {% if form.errors %}
            <p class="text-center">Вы ввели неправильный логин или пароль.Попробуйте снова.</p>
            {% endif %}

            <form method="post" action="" class="form-group">
                {% csrf_token %}
                    <table>
                        <img src="{% static 'img/scania.jpg' %}">
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table>
                <button type="submit" class="btn button-default button-slanted" style="position: relative;
                 top: 10px; left: 100px; width: 150px;"><span class="button-slanted-content" >Вход</span></button>
                <input type="hidden" name="next" value="{{ next }}" class="form-control"/>
            </form>
            </div>
        </div>
    </div>
</div>
</section>
<style type="text/css">
  html, body { height:100%; }
  .outer-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}
  .inner-wrapper {
  display:table-cell;
  vertical-align:middle;
  padding:15px;
}
.button-default {
  color: white;
  background-color: teal;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 10px;
  display: inline-block;
}

.button-slanted {
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.button-slanted-content {
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
  display: inline-block;
}

.button-fixedwidth {
  width: 100px;
}
</style>
{% endblock %}
