{% extends "index4.html" %}
{% load bootstrap4 %}
{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Справочник абонентов</h1>
{% if perms.Avtoregion.change_abonent %}
	<div class="btn-toolbar mb-2 mb-md-0" id="toolbar_abonent">
	  <div class="btn-group mr-2">
		<a id="change_abonent" href="" class="btn btn-secondary btn-sm"
		   title="Изменить">
			<i class="fas fa-edit"></i>
		</a>
	  </div>	
	  <div class="btn-group mr-2">
		<button class="btn btn-secondary btn-sm" title="Экспорт в эксель"
				onclick="$('#abonent_table').tableExport({type: 'excel', fileName: 'Таблица',
					ignoreColumn: ['checkbox','id']});">
			<i class="fas fa-file-excel"></i>
		</button>
	  </div>
	</div>
  </div>

	<form id="delete_abonent" action="delete/" method="post" class="">
		{% csrf_token %}
		<input type="hidden" name="pk" value="">
	</form>

    <div class="container-fluid">
            <div class="table-responsive">
                <div class="clearfix"></div>
                <table id="abonent_table" class="data-table" data-toolbar="#toolbar_abonent" data-search="true" data-click-to-select="true"
                       data-id-field="id" data-single-select="true"
                       data-classes="table table-hover table-small-font table-condensed table-no-bordered"
					   data-buttons-class="secondary btn-sm">
                    <thead>
                        <th data-field="checkbox" data-checkbox="true"></th>
                        <th data-field="telegram_id" data-visible="true">id</th>
                        <th data-field="admin">Админ</th>
                        <th data-field="active">Включен</th>
                        <th data-field="telegram_nick">Имя</th>
                        <th data-field="driver">Водитель</th>
                        <th data-field="last_seen">Дата</th>
                        <th data-field="state">Статус</th>
                        <th data-field="car">Машина</th>
                        <th data-field="race">Рейс</th>
                    </thead>
                    <tbody>
                    {% if qAbonent %}
                    {% for q in qAbonent %}
                        <tr>
                            <td></td>
                            <td>{{ q.pk }}</td>
							<td>{% if q.admin %}Да{% endif %}</td>
							<td>{% if q.active %}Да{% endif %}</td>
                            <td>{{ q.telegram_nick }}</td>
                            <td>{{ q.driver|default_if_none:'Не назначен' }}</td>
                            <td>{{ q.last_seen }}</td>
                            <td>{{ q.get_state_display }}</td>
                            <td>{{ q.car|default_if_none:'Не назначена' }}</td>
                            <td>{{ q.race|default_if_none:'Не назначен' }}</td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
    </div>
{% else %}
	</div>
    <div class="container-fluid">
	Недостаточно прав для работы в модуле "Абоненты"
	</div>
{% endif %}
{% endblock %}