{% extends "index.html" %}
{% load bootstrap3 %}
{% block content %}
    <div class="container">
        <div class="table-responsive">
            {% if qCar %}
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                    <th>Номер</th>
                    <th>ПТС</th>
                    <th>Номер прицепа</th>
                    <th>Посредник</th>
                    <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for q in qCar %}
                        <tr>
                            <td>
                                {{ q.number }}
                            </td>
                            <td>
                                {{ q.pts|default_if_none:'Не заполнен' }}
                            </td>
                            <td>
                                {{ q.trailer|default_if_none:'Нету' }}
                            </td>
                            <td>
                                {{ q.mediator|default_if_none:'Нету' }}
                            </td>
                            <td>
                                {% if perms.Avtoregion.change_car %}
                                <div class="form-group">
                                    <form action="update{{ q.pk }}" method="get">
                                        <button class="btn btn-info btn-sm form-control">Изменить</button>
                                    </form>
                                </div>
                                {% endif %}
                                {% if perms.Avtoregion.delete_car %}
                                <div class="form-group">
                                    <form action="{% url 'CarDelete' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="pk" value="{{ q.pk }}">
                                        <button class="btn btn-danger btn-sm form-control delete-confirmation">Удалить</button>
                                    </form>
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        {% if perms.Avtoregion.add_car %}
        <form action="add" method="post">
            {% csrf_token %}
            {% for field in form %}
                {% bootstrap_field field %}
            {% endfor %}
            <button class="btn btn-success">Добавить</button>
        </form>
        {% endif %}
    </div>
{% endblock %}
