{% extends "index.html" %}
{% block content %}
 <div class="container">
 {% if qCar %}
	 <table class="table table-hover">
	 {% for q in qCar %}
         <thead>
         <tr>
             <th>Номер</th>
             <th>ПТС</th>
             <th>Номер прицепа</th>
         </tr>

         </thead>
         <tbody>
	    <tr>
		 <td>
			{{ q.number }}
		 </td>
		 <td>
			{{ q.pts }}
		 </td>
		 <td>
			{{ q.trailer }}
		 </td>
		 <td>
			<form action="">
              <button name="update" class="btn btn-info" value={{ q.pk }}>Изменить</button>
			        <button name="delete" class="btn btn-danger" value={{ q.pk }}>Удалить</button>
		  </form>
	     </td>
	    </tr>
     </tbody>
	 {% endfor %}
	 </table>
 {% endif %}

 <form action="" method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <button name="add" class="btn btn-success">Добавить</button>
</form>
 </div>
{% endblock %}
