<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Some stuff</title>
</head>

 <body>
 {% if qCar %}
	 <table class="results">
	 {% for q in qCar %}
	 <tr>
		 <td>
			 q.name
		 </td>
		 <td>
			 q.pts
		 </td>
		 <td>
			 q.trailer
		 </td>
		 <td>
			<form action="edit">
		    <button name="change" class="btn btn-info" value=q.id>Изменить</button>
			  <button name="Удалить" class="btn btn-danger" value=q.id>Удалить</button>
		  </form>
	    </td>
	 </tr>
	 {% endfor %}
	 </table>
 {% endif %}

 {% if qdb %}
	 <table class="results">
		 {% for q in qdb %}
			 <tr>
				 <td>
					 q.number
				 </td>
				 <td>
					 q.pts
				 </td>
			 </tr>
		 {% endfor %}
	 </table>
 {% endif %}

 <form action="" method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <button name="add" class="btn btn-success">Добавить</button>
</form>


 </body>
</html>