{% extends "index.html" %}
{% load bootstrap3 %}
{% block content %}
    <div class="container">
        {% if qDriver %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <th>ФИО Водителя</th>
                    <th>Табельный номер</th>
                    <th>Удостоверение</th>
                    <th>Действия</th>
                    </thead>
                    <tbody>
                    {% for q in qDriver %}
                        <tr>
                            <td>
                                {{ q.name }}
                            </td>
                            <td>
                                {{ q.personnel_number|default_if_none:'Не назначен' }}
                            </td>
                            <td>
                                {{ q.driver_card|default_if_none:'Не назначен' }}
                            </td>
                            <td>
                                {% if perms.Avtoregion.change_driver %}
                                <div class="form-group">
                                    <form action="update{{ q.pk }}" method="get">
                                        <button class="btn btn-info btn-sm form-control">Изменить</button>
                                    </form>
                                </div>
                                {% endif %}
                                {% if perms.Avtoregion.delete_driver %}
                                <div class="form-group">
                                    <form action="{% url 'DriverDelete' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="pk" value="{{ q.pk }}">
                                        <button class="btn btn-danger btn-sm form-control delete-confirmation">Удалить</button>
                                    </form>
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if perms.Avtoregion.add_driver %}
        <form action="add" method="post">
            {% csrf_token %}
            {% for field in form %}
                {% bootstrap_field field %}
            {% endfor %}
            <button class="btn btn-success">Добавить</button>
        </form>
        {% endif %}
    </div>
{% endblock %}
