<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Авторегион</a>
    </div>
	  <form method="get" action="/catalog/">
		{% csrf_token %}
      <button id="Race" name="Race" value="get" class="btn btn-danger navbar-btn">Рейсы</button>
      <button id="Car" name="Car" value="get" class="btn btn-danger navbar-btn">Машины</button>
	  <button id="Driver" name="Driver" value="get" class="btn btn-danger navbar-btn">Водители</button>
	  <button id="Supplier" name="Supplier" value="get" class="btn btn-danger navbar-btn">Поставщики</button>
	  <button id="Customer" name="Customer" value="get" class="btn btn-danger navbar-btn">Клиенты</button>
	  <button id="Product" name="Product" value="get" class="btn btn-danger navbar-btn">Товары</button>
	  </form>
  </div>
</nav>
<body>
{% if current_race  %}
	<table class="results">
	{% for race in current_race %}
		<tr>
			<td>
			race
		  </td>
		</tr>
	{% endfor %}
</table>
{% endif %}
{% if qdb %}
	<table class="results">
		{% for q in qdb %}
			<tr>
				<td>
					q.number
				</td>
				<td>
					q.pts
				</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}
<form action="/add/" method="post">
    {% csrf_token %}
    {{ form.as_ul }}
    <input id="add" name="add" type="submit" value="добавить" />
	  <input id="change" name="change" type="submit" value="изменить"/>
	  <input id="delete" name="delete" type="submit" value="удалить" />
</form>


</body>
</html>