{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Main</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/Material_Icons.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome4.7.0.min.css" %}">
    <link rel="stylesheet" href="{% static "css/daterangepicker.css" %}">
		<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "js/BootstrapTable/bootstrap-table.min.css" %}">
    <!-- jQuery library-->
    <script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/popper-1.12.9.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dropdown.js" %}"></script>
    <script type="text/javascript" src="{% static "js/collapse.js" %}"></script>
    <script type="text/javascript" src="{% static "js/transition.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moment-with-locales.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/daterangepicker.js" %}"></script>
		<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'js/main.'|add:JS_MD5|add:'.js' %}"></script>-->
    <script type="text/javascript" src="{% static "js/BootstrapTable/bootstrap-table.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/BootstrapTable/locale/bootstrap-table-ru-RU.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/BootstrapTable/extensions/cookie/bootstrap-table-cookie.min.js" %}">
    </script>
		<script type="text/javascript"
						src="{% static "js/BootstrapTable/extensions/filter-control/bootstrap-table-filter-control.min.js" %}">
		</script>
    <script type="text/javascript"
            src="{% static "js/BootstrapTable/extensions/bootstrap-table-contextmenu/dist/bootstrap-table-contextmenu.min.js" %}">
    </script>
</head>
{% if user.is_anonymous %}
    <body>
    {% block login %}
    {% endblock %}
    </body>
{% else %}
    <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'Race' %}">Рейсы<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'Race' %}">Текущие рейсы</a></li>
                        <li><a href="{% url 'RaceCreate' %}">Добавить Рейсы</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="index.html" data-toggle="dropdown">Справочники<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'CarList' %}">Машины</a></li>
                        <li><a href="{% url 'DriverList' %}">Водители</a></li>
                        <li><a href="{% url 'SupplierList' %}">Поставщики</a></li>
                        <li><a href="{% url 'CustomerList' %}">Клиенты</a></li>
                        <li><a href="{% url 'ProductList' %}">Груз</a></li>
                        <li><a href="{% url 'TrailerList' %}">Прицепы</a></li>
                        <li><a href="{% url 'MediatorList' %}">Посредники</a></li>
                        <li><a href="{% url 'UnitList' %}">Единицы измерения</a></li>
                        <li><a href="{% url 'Constants' %}">Константы</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="index.html">Отчёты<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'Acc' %}">Реестр</a></li>
                        <li><a href="{% url 'DriverAcc' %}">Реестр по водителю</a></li>
                        <li><a href="{% url 'CarAcc' %}">Реестр по автомобилю</a></li>
                    </ul>
                </li>
                <li class="navbar-text">{{ user }}</li>
                <li><a class="navbar-link" href="{% url 'logout' %}">Выход</a></li>
            </ul>
            {% block datetime %}
            {% endblock %}
        </div>
    </nav>
    {% include 'messages.html' %}
    {% block content %}
    {% endblock %}
    </body>
{% endif %}
</html>