{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Панель управления Диспетчера Авторегиона">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Панель управления | Диспетчер Авторегиона. Версия v2.0</title>

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="{% static "css/bootstrap4.min.css" %}">

    <!-- Custom styles for this template -->
	<link rel="stylesheet" href="{% static "css/dashboard.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">	 
	<link rel="stylesheet" href="{% static "css/Material_Icons.css" %}">
	<link rel="stylesheet" href="{% static "css/daterangepicker.css" %}">
	<!--
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.13.3/dist/bootstrap-table.min.css">
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.13.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.css">
	//-->
	<!-- <link rel="stylesheet" href="{% static "js/BootstrapTable/bootstrap-table.min.css" %}"> //-->
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.13.1/bootstrap-table.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.13.1/extensions/filter-control/bootstrap-table-filter-control.min.css">
	
	<link rel="stylesheet" href="{% static "css/chosen.min.css" %}">
	<link rel="stylesheet" href="{% static "css/chosenIcon.css" %}">
	<link rel="stylesheet" href="{% static "css/main.css" %}">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	
	<script type="text/javascript" src="{% static "js/moment-with-locales.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/daterangepicker.js" %}"></script>
	<script type="text/javascript" src="{% static "js/chosen.jquery.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/chosenIcon.jquery.js" %}"></script>
	{% if request.META.DEBUG == 'True' %}
        <script type="text/javascript" src="{% static "js/datarange-config.js" %}"></script>
        <script type="text/javascript" src="{% static "js/chosen-config.js" %}"></script>
		<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstraptable-config.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/modal-config.js' %}"></script>
	{% else %}
        <script type="text/javascript" src="{% static 'js/datarange-config.'|add:JS_DATERANGE|add:'.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/chosen-config.'|add:JS_CHOSEN|add:'.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/main.'|add:JS_MAIN|add:'.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstraptable-config.'|add:JS_BOOTSTRAP|add:'.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/modal-config.'|add:JS_MODAL|add:'.js' %}"></script>
	{% endif %}
	
  </head>
{% if user.is_anonymous %}
	<body>
	{% block login %}
	{% endblock %}
{% else %}
	<body>
	{% include 'messages.html' %}
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><i class="fab fa-aviato" style="font-size: 200%"></i>&nbsp;Авторегион</a>
      <input class="form-control form-control-dark w-100" id="global_search" type="text" placeholder="Поиск" aria-label="Search">
	  <div class="input-group-append">
		<button class="btn btn-outline-secondary" type="button" id="clear-search-button" title="Очистить поиск">
			<i class="fas fa-backspace"></i></button>
	  </div>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>&nbsp;Выход</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="feather fas fa-tachometer-alt"></i>
                  Сводка 
                </a>
              </li>			  
			  {% if perms.Avtoregion.change_race %}
			  {% url 'Race' as race_url %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == race_url %}active{% endif%}" href="{% url 'Race' %}">
				  <i class="feather fas fa-shipping-fast"></i>
                  Рейсы 
                </a>
              </li>
			  {% endif %}
			  {% if perms.Avtoregion.change_car %}
			  {% url 'CarList' as car_url %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == car_url %}active{% endif%}" href="{% url 'CarList' %}">
				  <i class="feather fas fa-truck"></i>
                  Машины 
                </a>
              </li>
			  {% endif %}
			  {% if perms.Avtoregion.change_trailer %}
			  {% url 'TrailerList' as trailer_url %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == trailer_url %}active{% endif%}" href="{% url 'TrailerList' %}">
				  <i class="feather fas fa-truck-loading"></i>
                  Прицепы
                </a>
              </li>
			  {% endif %}
			  {% if perms.Avtoregion.change_driver %}
			  {% url 'DriverList' as driver_url %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == driver_url %}active{% endif%}" href="{% url 'DriverList' %}">
                  <!-- <span data-feather="users"></span> //-->
				  <i class="feather fas fa-address-card"></i>
                  Водители
                </a>
              </li>
			  {% endif %}
			  {% if perms.Avtoregion.change_abonent %}
			  {% url 'AbonentList' as abonent_url %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == abonent_url %}active{% endif%}" href="{% url 'AbonentList' %}">
				  <i class="feather fas fa-user-astronaut"></i>
                  Абоненты
                </a>
              </li>
			  {% endif %}
			  {% if perms.Avtoregion.change_supplier %}
			  {% url 'SupplierList' as supplier_url %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == supplier_url %}active{% endif%}" href="{% url 'SupplierList' %}">
                  <span data-feather="layers"></span>
                  Поставщики
                </a>
              </li>
			  {% endif %}
			  {% if perms.Avtoregion.change_customer %}
			  {% url 'CustomerList' as customer_url %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == customer_url %}active{% endif%}" href="{% url 'CustomerList' %}">
                  <span data-feather="layers"></span>
                  Клиенты
                </a>
              </li>
			  {% endif %}
			  {% if perms.Avtoregion.change_mediator %}
			  {% url 'MediatorList' as mediator_url %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == mediator_url %}active{% endif%}" href="{% url 'MediatorList' %}">
                  <span data-feather="layers"></span>
                  Посредники
                </a>
              </li>
			  {% endif %}
			  {% if perms.Avtoregion.change_product %}
			  {% url 'ProductList' as product_url %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == product_url %}active{% endif%}" href="{% url 'ProductList' %}">
                  <span data-feather="package"></span>
                  Груз
                </a>
              </li>
			  {% endif %}
			  {% if perms.Avtoregion.change_part %}
              <li class="nav-item">
                <a class="nav-link" href="#">
				  <i class="feather fas fa-cogs"></i>
                  Детали
                </a>
              </li>
			  {% endif %}
			  {% if perms.Avtoregion.change_movement %}
              <li class="nav-item">
                <a class="nav-link" href="#">
				  <i class="feather fas fa-warehouse"></i>
                  Склад запчастей
                </a>
              </li>
			  {% endif %}
			  {% if perms.Avtoregion.change_units %}
			  {% url 'UnitList' as unit_url %}			  
              <li class="nav-item">
                <a class="nav-link {% if request.path == unit_url %}active{% endif%}" href="{% url 'UnitList' %}">
				  <i class="feather fas fa-pencil-ruler"></i>
                  Единицы измерения
                </a>
              </li>
			  {% endif %}
			  {% if perms.Avtoregion.change_constants %}
			  {% url 'Constants' as const_url %}			  
              <li class="nav-item">
                <a class="nav-link {% if request.path == const_url %}active{% endif%}" href="{% url 'Constants' %}">
                  <span data-feather="sliders"></span>
                  Константы
                </a>
              </li>
			  {% endif %}
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Отчеты</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
			  {% url 'Acc' as acc_url %}	
              <li class="nav-item">
                <a class="nav-link {% if request.path == acc_url %}active{% endif%}" href="{% url 'Acc' %}">
                  <span data-feather="file-text"></span>
                  Реестр по рейсам
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Реестр по машине
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Реестр по водителю
                </a>
              </li>
            </ul>
          </div>
        </nav>

		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">			
			{% block content %}
		</main>		
      </div>
    </div>
	{% endblock %}
{% endif %}


	<!-- <script type="text/javascript" src="{% static "js/BootstrapTable/bootstrap-table.min.js" %}"></script> //-->
	<!--
	<script src="https://unpkg.com/bootstrap-table@1.13.3/dist/bootstrap-table.min.js"></script>
	<script type="text/javascript" 
		src="https://unpkg.com/bootstrap-table@1.13.3/dist/locale/bootstrap-table-ru-RU.min.js"></script>
	<script type="text/javascript"
	    src="https://unpkg.com/bootstrap-table@1.13.3/dist/extensions/cookie/bootstrap-table-cookie.min.js"></script>
	<script type="text/javascript"
	    src="https://unpkg.com/bootstrap-table@1.13.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
	//-->	
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.13.1/bootstrap-table.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.13.1/locale/bootstrap-table-ru-RU.min.js"></script>
	<script type="text/javascript"
	        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.13.1/extensions/cookie/bootstrap-table-cookie.js">
	</script>
	<script type="text/javascript"
	        src="{% static "js/BootstrapTable/extensions/filter-control/bootstrap-table-filter-control-1.13.3.js" %}">
	</script>	
	<script type="text/javascript"
	        src="{% static "js/BootstrapTable/extensions/bootstrap-table-contextmenu/dist/bootstrap-table-contextmenu.min.js" %}">
	</script>

	<script type="text/javascript" src="{% static "js/libs/FileSaver/FileSaver.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/libs/js-xlsx/xlsx.core.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/tableExport.min.js" %}"></script>
	
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
	</body>
</html>