{% extends "index.html" %}
{% load bootstrap3 %}
{% block content %}
    <div class="container">
        {% if qLoadplace %}
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                    <th>Место погрузки</th>
                    <th>Действия</th>
                    </thead>
                    <tbody>
                    {% for q in qLoadplace %}
                        <tr>
                            <td>
                                {{ q.address }}
                            </td>
                            <td>
	                            {% if perms.Avtoregion.change_loadingplace %}
                                <div class="form-group">
                                    <form action="update{{ q.pk }}" method="get">
                                        <button class="btn btn-info btn-sm form-control">Изменить</button>
                                    </form>
                                </div>
	                            {% endif %}
                                <div class="form-group">
                                    {% comment %}                                    <form action="{% url 'ShipmentDelete' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="pk" value="{{ q.pk }}">
                                        <button class="btn btn-danger btn-sm form-control delete-confirmation">Удалить</button>
                                    </form>{% endcomment %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

    {% if perms.Avtoregion.add_loadingplace %}
        <div class="form-group">
            <form action="add" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {% bootstrap_field field %}
                {% endfor %}
                <input hidden name="supplier" value="{{ supplier }}">
                <button class="btn btn-success">Добавить</button>
            </form>
        </div>
    {% endif %}
    </div>
{% endblock %}
