{% extends "index.html" %}
{% load bootstrap3 %}
{% block content %}

	<form id="delete_mediator" action="delete/" method="post" class="">
		{% csrf_token %}
		<input type="hidden" name="pk" value="">
	</form>

	<div class="container-fluid">
		<div class="table-responsive">
			<div class="clearfix"></div>
			<div id="toolbar_mediator" class="btn-toolbar" role="toolbar">
				<div class="btn-group">

					<button id="add_mediator" data-toggle="modal" type="button" class="btn btn-default"
					        title="Добавить" data-target="#add_mediator_modal">
						<i class="glyphicon glyphicon-plus-sign"></i>
					</button>

					<a id="change_mediator" href="" class="btn btn-default"
					   title="Изменить">
						<i class="glyphicon glyphicon-edit"></i>
					</a>
					<button form="delete_mediator" type="submit" class="btn btn-default delete-confirmation" title="Удалить">
						<i class="glyphicon glyphicon-floppy-remove"></i>
					</button>

					<button class="btn btn-default" title="Экспорт в эксель"
					        onclick="$('#mediator_table').tableExport({type: 'excel', fileName: 'Таблица',
                                    ignoreColumn: ['checkbox','id']});">
						<i class="glyphicon glyphicon-export"></i>
					</button>

				</div>
			</div>
			<table id="mediator_table" data-toolbar="#toolbar_mediator" data-search="true" data-click-to-select="true"
			       data-id-field="id" data-single-select="true"
			       data-classes="table table-hover table-small-font table-condensed table-no-bordered">
				<thead>
					<th data-field="checkbox" data-checkbox="true"></th>
					<th data-field="id" data-visible="false">id</th>
					<th data-field="name" data-visible="true">Организация</th>
					<th data-field="address" data-visible="true">Адрес</th>
					<th data-field="inn" data-visible="true">ИНН</th>
        </thead>
                    <tbody>
                    {% if qMediator %}
                      {% for q in qMediator %}
                        <tr>
                            <td></td>
	                          <td>
		                          {{ q.pk }}
	                          </td>
                            <td>
                                {{ q.name }}
                            </td>
                            <td>
                                {{ q.address }}
                            </td>
                            <td>
                                {{ q.inn|default_if_none:"Не назначен" }}
                            </td>
                        </tr>
                     {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
    </div>
	<div class="container">
		<div id="add_mediator_modal" class="modal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<b><p class="text-center">Добавить посредника</p></b>
					</div>
					<div class="modal-body">
						<form action="add/" method="post" class="modal-form" role="form">
							{% csrf_token %}
							{% for field in form %}
								{% bootstrap_field field %}
							{% endfor %}
							<button class="btn btn-success">Добавить</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
