{% extends "index.html" %}
{% block content %}
 <div class="container">
 {% if qMediator %}
	 <table class="table table-hover">
		 <thead>
		 <th>Посредник</th>
		    </thead>
		 <tbody>
	 {% for q in qMediator%}
	    <tr>
		 <td>
			{{ q.address}}
		 </td>
         <td>
            {{ q.inn|default_if_none:"Неопределен"}}
         </td>
		    <td>
			    <form action="update{{ q.pk }}" method="get">
				    <button class="btn btn-info">Изменить</button>
			    </form>
		    </td>
		    <td>
			    <form action="delete{{ q.pk }}" method="get">
				    <button class="btn btn-danger">Удалить</button>
			    </form>
		    </td>
	    </tr>
	 {% endfor %}
		 </tbody>
	 </table>
 {% endif %}

 <form action="" method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <button name="add" class="btn btn-success">Добавить</button>
</form>
 </div>
{% endblock %}
