{% extends "index.html" %}
{% block content %}
 <div class="container">
 {% if qProduct %}
	 <table class="table table-hover">
	 {% for q in qProduct %}
         <thead>
					 <tr>
							 <th>Товар</th>
					 </tr>
         </thead>
         <tbody>
	    <tr>
		 <td>
			{{ q.name }}
		 </td>
		 <td>
			 <form action="update" method="post">
				 {% csrf_token %}
				 <input type="hidden" value="{{ q.pk }}" name="pk">
				 <button name="update" class="btn btn-info">Изменить</button>
			 </form>
		 </td>
		    <td>
			    <form action="delete" method="post">
				    {% csrf_token %}
				    <input type="hidden" value="{{ q.pk }}" name="pk">
				    <button name="delete" class="btn btn-danger">Удалить</button>
			    </form>
	     </td>
	    </tr>
     </tbody>
	 {% endfor %}
	 </table>
 {% endif %}

 <form action="" method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <button name="add" class="btn btn-success">Добавить</button>
</form>
 </div>
{% endblock %}
