{% extends "index.html" %}
{% load bootstrap3 %}
{% block content %}
    <div class="container">
        {% if qProduct %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <th>Название</th>
                    <th>Фракция</th>
                    <th>Действия</th>
                    </thead>
                    <tbody>
                    {% for q in qProduct %}
                        <tr>
                            <td>
                                {{ q.name }}
                            </td>
                            <td>
                                {{ q.fraction }}
                            </td>
                            <div class="form-group">
                                <td>
                                    <form action="update{{ q.pk }}" method="get">
                                        <button class="btn btn-info btn-sm form-control">Изменить</button>
                                    </form>
                                    <form action="{% url 'ProductDelete' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="pk" value="{{ q.pk }}">
                                        <button class="btn btn-danger btn-sm form-control delete-confirmation">Удалить</button>
                                    </form>
                                </td>
                            </div>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

        <form action="add" method="post">
            {% csrf_token %}
            {% for field in form %}
                {% bootstrap_field field %}
            {% endfor %}
            <button class="btn btn-success">Добавить</button>
        </form>
        <script type="text/javascript">
            $(document).on('click', '.delete-confirmation', function () {
                return confirm('Вы уверены, что хотите удалить?');
            })
        </script>
    </div>
{% endblock %}
