{% extends "index.html" %}
{% block content %}
<div class="container-fluid">
 {% if qRace%}
	 <table class="table table-hover table-condensed table-responsive">
		 <thead>
       <th>Дата</th>
			 <th>Номер рейса</th>
			 <th>Номер машины</th>
			 <th>Водитель</th>
			 <th>Тип операции</th>
			 <th>Поставщик</th>
			 <th>Клиент</th>
			 <th>Место разгрузки</th>
			 <th>Товар</th>
			 <th>Начало трека</th>
			 <th>Конец трека</th>
			 <th>Загружено</th>
			 <th>Выгружено</th>
			 <th>Состояние</th>
		 </thead>
	 {% for q in qRace%}
         <tbody>
	    <tr>
         <td>
            {{ q.race_date }}
         </td>
		 <td>
			{{ q.name_race}}
		 </td>
		 <td>
			{{ q.car}}
		 </td>
			<td>
				{{ q.driver}}
			</td>
			<td>
				{{ q.type_ship}}
			</td>
		  <td>
			  {{ q.supplier}}
		  </td>
		  <td>
			  {{ q.customer}}
		  </td>
		  <td>
			  {{ q.shipment|default_if_none:"Нет"}}
		  </td>
		  <td>
			  {{ q.product}}
		  </td>
		  <td>
			  {{ q.s_milage}}
		  </td>
		  <td>
			  {{ q.e_milage}}
		  </td>
		  <td>
			  {{ q.weight_load}}
		  </td>
		  <td>
			  {{ q.weight_unload}}
		  </td>
		  <td>
			  {{ q.state}}
		  </td>
		 <td>
			<form action="{% url 'RaceUpdate' q.pk %}">
              <button class="btn btn-info">Изменить</button>
			</form>
			 <form action="{% url 'RaceDelete' q.pk %}">
			        <button class="btn btn-danger">Удалить</button>
		  </form>
	     </td>
	    </tr>
     </tbody>
	 {% endfor %}
	 </table>
 {% endif %}
{% if is_paginated %}
	<div class="text-center">
	<ul class="pagination">
            {% if page_obj.has_previous %}
	              <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
	            {% else %}
	              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
						{% for i in paginator.page_range %}
							{% if page_obj.number == i %}
									<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
							{% else %}
									<li><a href="?page={{ i }}">{{ i }}</a></li>
							{% endif %}
						{% endfor %}

            {% if page_obj.has_next %}
	            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
	            {% else %}
	              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
	</ul>
	</div>
{% endif %}
</div>

{% endblock %}
