{% extends "index.html" %}
{% block content %}
<div class="container">
 {% if qRace%}
	 <table class="table table-hover table-condensed table-responsive">
		 <thead>
			 <th>Номер рейса</th>
			 <th>Номер машины</th>
			 <th>Водитель</th>
			 <th>Реализация</th>
			 <th>Поставщик</th>
			 <th>Клиент</th>
			 <th>Место разгрузки</th>
			 <th>Товар</th>
			 <th>Посредник</th>
			 <th>Начало трека</th>
			 <th>Конец трека</th>
			 <th>Загружено</th>
			 <th>Выгружено</th>
			 <th>Состояние</th>
		 </thead>
	 {% for q in qRace%}
         <tbody>
	    <tr>
		 <td>
			{{ q.name_race}}
		 </td>
		 <td>
			{{ q.car}}
		 </td>
			<td>
				{{ q.driver}}
			</td>
			<td>
				{{ q.type_ship}}
			</td>
		  <td>
			  {{ q.supplier}}
		  </td>
		  <td>
			  {{ q.customer}}
		  </td>
		  <td>
			  {{ q.shipment}}
		  </td>
		  <td>
			  {{ q.product}}
		  </td>
		  <td>
			  {{ q.mediator}}
		  </td>
		  <td>
			  {{ q.s_milage}}
		  </td>
		  <td>
			  {{ q.e_milage}}
		  </td>
		  <td>
			  {{ q.weight_load}}
		  </td>
		  <td>
			  {{ q.weight_unload}}
		  </td>
		  <td>
			  {{ q.state}}
		  </td>
		 <td>
			<form action="{% url 'RaceUpdate' %}" method="post">
				{% csrf_token %}
              <button name="update" value="update" class="btn btn-info">Изменить</button>
							<input type="hidden" value="{{ q.pk }}" name="pk">
			</form>
			 <form action="{% url 'RaceDelete' %}" method="post">
				 {% csrf_token %}
							<input type="hidden" value="{{ q.pk }}" name="pk">
			        <button name="delete" class="btn btn-danger">Удалить</button>
		  </form>
	     </td>
	    </tr>
     </tbody>
	 {% endfor %}
	 </table>
 {% endif %}
</div>

{% endblock %}
