{% extends "index.html" %}
{% block content %}
 <div class="container">
 {% if qShipment %}
	 <table class="table table-hover">
		 <thead>
		 <th>Место разгрузки</th>
		 </thead>
		 <tbody>
	 {% for q in qShipment%}
	    <tr>
		 <td>
			{{ q.name }}
		 </td>
		    <td>
			    <form action="update{{ q.pk }}" method="get">
				    <button class="btn btn-info">Изменить</button>
			    </form>
		    </td>
		    <td>
                <form action="{% url 'ShipmentDelete' %}" method="post">
	                {% csrf_token %}
                    <input type="hidden" name="pk" value="{{ q.pk }}">
                    <button class="btn btn-danger form-control delete-confirmation">Удалить</button>
                </form>
		    </td>
	    </tr>
	 {% endfor %}
		 </tbody>
	 </table>
 {% endif %}

 <form action="add" method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <button class="btn btn-success">Добавить</button>
</form>
 </div>
    <script type="text/javascript">
        $(document).on('click', '.delete-confirmation', function()
        {
            return confirm('Вы уверены, что хотите удалить?');
        })
    </script>
{% endblock %}
