{% extends "index.html" %}
{% load verbose_names %}
{% block content %}
 <div class="container col-lg-4 col-lg-offset-4">
 {% if qSupplier %}
     <div class="table-responsive">
	 <table class="table table-hover">
		 <thead>
		 <th>
			 Поставщик
		 </th>
		 <th>
			 ИНН
		 </th>
         <th>
             Действия
         </th>
		 </thead>
		 <tbody>
	 {% for q in qSupplier %}
	    <tr>
		 <td>
			 {{ q.name }}
		 </td>
		    <td>
			 {{ q.inn }}
		    </td>
		 <div class="form-group">
			 <td>
				 <form action="update{{ q.pk }}" method="get">
					 <button class="btn btn-info form-control">Изменить</button>
				 </form>
			 </td>
			 <td>
                 <form action="{% url 'SupplierDelete' %}" method="post">
                     <input type="hidden" name="pk" value="{{ q.pk }}">
                     <button class="btn btn-danger form-control delete-confirmation">Удалить</button>
                 </form>
			 </td>
	    </div>
	    </tr>
	 {% endfor %}
		 </tbody>
	 </table>
     </div>
 {% endif %}

 <form action="add" method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <button class="btn btn-success">Добавить</button>
</form>
 </div>
    <script type="text/javascript">
        $(document).on('click', '.delete-confirmation', function()
        {
            return confirm('Вы уверены, что хотите удалить?');
        })
    </script>
{% endblock %}
