{% load staticfiles %}
<div class="container">
	<div class="table-responsive">
		<div class="clearfix"></div>
		<div id="toolbar_counting" role="toolbar">
			<div class="form-inline">
				<div class="btn-group">
					<a href="{% url 'Race' %}" class="btn btn-default" title="Текущие рейсы">
						<i class="glyphicon glyphicon-blackboard"></i></a>
					<a id="dropdownMenu1" type="button" class="btn btn-default dropdown-toggle" aria-haspopup="true"
					   aria-expanded="true" data-toggle="dropdown">
						<i class="glyphicon glyphicon-book"></i>
					</a>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li><a href="{% url 'CarList' %}">Машины</a></li>
						<li><a href="{% url 'DriverList' %}">Водители</a></li>
						<li><a href="{% url 'SupplierList' %}">Поставщики</a></li>
						<li><a href="{% url 'CustomerList' %}">Клиенты</a></li>
						<li><a href="{% url 'ProductList' %}">Груз</a></li>
						<li><a href="{% url 'TrailerList' %}">Прицепы</a></li>
						<li><a href="{% url 'MediatorList' %}">Посредники</a></li>
						<li><a href="{% url 'UnitList' %}">Единицы измерения</a></li>
						<li><a href="{% url 'Constants' %}">Константы</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{% url 'Acc' %}">Реестр</a></li>
						<li><a href="{% url 'CarAcc' %}">Реестр по машине</a></li>
						<li><a href="{% url 'DriverAcc' %}">Реестр по водителю</a></li>
					</ul>
					<a id="change_race" type="button" href="" class="btn btn-default"
					   title="Изменить рейс"><i
							class="glyphicon glyphicon-edit"></i></a>
					<button id="update_state" data-url="{% url 'RaceUpdateAjax' %}"
					        class="btn btn-default"
					        title="Обновить статус"><i class="glyphicon glyphicon-bookmark"></i></button>
					<a class="btn btn-default" href="{% url 'logout' %}" title="Выход">
						<i class="glyphicon glyphicon-arrow-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="table-responsive">
		<table id="tab" data-toolbar="#toolbar_counting" data-id-field="id"
                   data-toggle="table"
                   data-click-to-select="false" data-side-pagination="client"
                   data-classes="table table-hover table-small-font table-condensed table-no-bordered">
			{% if type_prod == 'supplier' %}
				<h1 class="h1">
					<span id="organization" class="text-left">{{ q_resp.first.supplier.name }}</span>
					c <span id="start_date" class="text-center">{{ start_date|date:"d.m.Y" }}</span>
					по <span id="end_date" class="text-right">{{ end_date|date:"d.m.Y" }}</span>
				</h1>
			{% endif %}
			{% if type_prod == 'customer' %}
				<h1 class="h1">
					<span id="organization">{{ q_resp.first.customer.name }}</span>
					c <span id="start_date" class="text-center">{{ start_date|date:"d.m.Y" }}</span>
					по <span id="end_date" class="text-right">{{ end_date|date:"d.m.Y" }}</span>
				</h1>
			{% endif %}
			{% if type_prod == 'mediator' %}
				<h1 class="h1">
					<span id="organization">{{ q_resp.first.car.mediator.name }}</span>
					c <span id="start_date" class="text-center">{{ start_date|date:"d.m.Y" }}</span>
					по <span id="end_date" class="text-right">{{ end_date|date:"d.m.Y" }}</span>
				</h1>
			{% endif %}
			<thead>
				<th data-field="checkbox" data-checkbox="true"></th>
				<th data-field="id" data-visible="false"></th>
				<th data-field="number">#</th>
				<th data-field="race_date">Дата</th>
				<th data-field="car">Номер машины</th>
				<th data-field="driver">Водитель</th>
				<th data-field="weight">Вес</th>
				<th data-field="product">Груз</th>
				<th data-field="unit">Ед. изм.</th>
				<th data-field="shoulder">Плечо</th>
				<th data-field="count_race">Кол-во рейсов</th>
				<th data-field="state">Состояние</th>
			</thead>
			<tfoot>
			<tr>
				<td></td>
				<td></td>
				<td>Всего загружено:</td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					{% if q_weight.weight_unload__sum %}
						{{ q_weight.weight_unload__sum|floatformat:3 }}
					{% endif %}
					{% if q_weight.weight_load__sum %}
						{{ q_weight.weight_load__sum|floatformat:3 }}
					{% endif %}
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			</tfoot>
			<tbody id="tab_body">
			{% if q_resp %}
				{% for q in q_resp %}
					<tr id="{{ q.pk }}">
						<td></td>
						<td>{{ q.pk }}</td>
						<td>{{ forloop.counter }}</td>
						<td>{{ q.race_date|date:"d.m.y" }}</td>
						<td>{{ q.car }}</td>
						<td>{{ q.driver.name }}</td>
						{% if q_weight.weight_load__sum %}
							<td>{{ q.weight_load|floatformat:"3" }}</td>
							<td>{{ q.product.name }}</td>
							<td>{{ q.unit_load.short_name|default:'т.' }}</td>
						{% endif %}
						{% if q_weight.weight_unload__sum %}
							<td>{{ q.weight_unload|floatformat:"3" }}</td>
							<td>{{ q.product.name }}</td>
							<td>{{ q.unit_unload.short_name|default:'т.' }}</td>
						{% endif %}
						<td>{{ q.shoulder }}</td>
						<td>{{ q.count }}</td>
						<td>{{ q.state }}</td>
					</tr>
				{% endfor %}
			{% endif %}
			</tbody>
		</table>
		<button id="excel" class="btn btn-default" data-url="{% url 'AccExcel' %}" onclick="getfile()">
			В Excel
		</button>
	</div>
</div>
<script type="application/javascript">
    $(function ()
    {
		    var $account = $('#tab');
        $account.bootstrapTable({
            showColumns: true,
            locale: 'ru-RU',
	        pagination: false,
    	    showPaginationSwitch: true,
        	cookie: true,
        	cookieIdTable: 'AccumulateCookId',
        	onDblClickRow: function (row, $element, field) {
            	window.location.href = '/Race/update/' + row.id + '/?next=/Accumulate/' ;
        	},
            rowStyle: function (row, index)
            {
                if (row.state.trim() === "Авария")
                {
                    return {
                        css: {
                            "background-color": "Tomato",
                            "color": "white"
                        }
                    }
                }

                if (row.state.trim() === "Создан")
                {
                    return {
                        css: {
                            "background-color": "BlanchedAlmond",
                            "color": "black"
                        }
                    }
                }
                if (row.state.trim() === "Загружен")
                {
                    return {
                        css: {
                            "background-color": "lightblue",
                            "color": "black"
                        }
                    }
                }
                if (row.state.trim() === "Выгружен")
                {
                    return {
                        css: {
                            "background-color": "Teal",
                            "color": "white"
                        }
                    }
                }
                if (row.state.trim() === "Закончен")
                {
                    return {
                        css: {
                            "background-color": "MediumSeaGreen",
                            "color": "white"
                        }
                    }
                }
                if (row.state.trim() === "Проведен")
                {
                    return {
                        css: {
                            "background-color": "Orange",
                            "color": "white"
                        }
                    }
                }
                return row
            }
        });
    })
</script>
