{% load staticfiles %}
{% if q_resp %}
	<div class="container">
		<div class="table-responsive">
			<table id="tab" class="table table-hover table-condensed">
				{% if type_name == 'supplier' %}
					<h1 id="organization">{{ q_resp.first.supplier.name }} </h1>
				{% endif %}
				{% if type_name == 'customer' %}
					<h1 id="organization">{{ q_resp.first.customer.name }}</h1>
				{% endif %}
				{% if type_name == 'mediator' %}
					<h1 id="organization">{{ q_resp.first.car.mediator.name }}</h1>
				{% endif %}
				<thead>
				<th>#</th>
				<th>Дата</th>
				<th>Номер машины</th>
				<th>Водитель</th>
				<th>Вес</th>
				<th>Груз</th>
				<th>Ед. изм.</th>
				</thead>
				<tfoot>
				<tr>
					<td>Всего загружено:</td>
					<td></td>
					<td></td>
					<td>
					</td>
					<td>
						{% if q_weight.weight_unload__sum %}
							{{ q_weight.weight_unload__sum|floatformat:2 }}
						{% endif %}
						{% if q_weight.weight_load__sum %}
							{{ q_weight.weight_load__sum|floatformat:2 }}
						{% endif %}
					</td>
					<td>
					</td>
					<td>
					</td>
				</tr>
				</tfoot>
				<tbody id="tab_body">
				{% for q in q_resp %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ q.race_date|date:"d.m.y" }}</td>
						<td>{{ q.car }}</td>
						<td>{{ q.driver.name }}</td>
						{% if q_weight.weight_load__sum %}
							<td>{{ q.weight_load|floatformat:"2" }}</td>
							<td>{{ q.product.name }}</td>
							<td>{{ q.unit_load.short_name|default:'т.' }}</td>
						{% endif %}
						{% if q_weight.weight_unload__sum %}
							<td>{{ q.weight_unload|floatformat:"2" }}</td>
							<td>{{ q.product.name }}</td>
							<td>{{ q.unit_unload.short_name|default:'т.' }}</td>
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<button id="excel">
				В Excel
			</button>
		</div>
	</div>
	<script type="text/javascript">
      $("#excel").on("click", function () {
          var csrftoken = getCookie('csrftoken');
          // Data to post
          function html2json() {
              var json = '{';
              var otArr = [];
              var tbl2 = $('#tab_body tr').each(function (i) {
                  x = $(this).children();
                  var itArr = [];
                  x.each(function () {
                      itArr.push('"' + $(this).text() + '"');
                  });
                  otArr.push('"' + i + '": [' + itArr.join(',') + ']');
              });
              //otArr.push('"org": ["' + $('#organization').innerText + '"]');
              json += otArr.join(",") + '}';

              return json;
          }

          var $data = html2json();
          console.log(JSON.stringify($data));

          // Use XMLHttpRequest instead of Jquery $ajax
          xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function () {
              var a;
              if (xhttp.readyState === 4 && xhttp.status === 200) {
                  // Trick for making downloadable link
                  a = document.createElement('a');
                  a.href = window.URL.createObjectURL(xhttp.response);
                  // Give filename you wish to download
                  a.download = "file.xlsx";
                  a.style.display = 'none';
                  document.body.appendChild(a);
                  a.click();
              }
          };
          // Post data to URL which handles post request
          xhttp.open("POST", "{% url 'AccExcel' %}");
          xhttp.setRequestHeader("Content-Type", "application/json");
          if (!csrfSafeMethod("POST") && sameOrigin("{% url 'AccExcel' %}")) {
              xhttp.setRequestHeader("X-CSRFToken", csrftoken);
          }
          // You should set responseType as blob for binary responses
          xhttp.responseType = 'blob';
          xhttp.send(JSON.stringify($data));
      });
	</script>
{% endif %}
