{% extends "index.html" %}
{% load bootstrap3 %}
{% block content %}
    <div class="container">
        {% if qTrailer %}
            <table class="table table-responsive">
                <thead>
                <th>Номер прицепа</th>
                <th>Марка</th>
                <th>Гаражный номер</th>
                <th>Действия</th>
                </thead>
                <tbody>
                {% for q in qTrailer %}
                    <tr>
                        <td>
                            {{ q.number }}
                        </td>
                        <td>
                            {{ q.brand_trailer }}
                        </td>
                        <td>
                            {{ q.garage_number_trailer }}
                        </td>
                        <td>
	                        {% if perms.Avtoregion.change_trailer %}
                            <form action="update{{ q.pk }}" method="get">
                                <button class="btn btn-info btn-sm form-control">Изменить</button>
                            </form>
                          {% endif %}
	                        {% if perms.Avtoregion.delete_trailer %}
                            <form action="{% url 'TrailerDelete' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="pk" value="{{ q.pk }}">
                                <button class="btn btn-danger btn-sm form-control delete-confirmation">Удалить</button>
                            </form>
	                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
			{% if perms.Avtoregion.add_trailer %}
        <form action="add" method="post">
            {% csrf_token %}
            {% for field in form %}
                {% bootstrap_field field %}
            {% endfor %}
            <button class="btn btn-success">Добавить</button>
        </form>
    {% endif %}
    </div>
{% endblock %}
